<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.3</feature>
	    <feature>json-1.0</feature>
	    <feature>ssl-1.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>monitor-1.0</feature>
        <feature>restConnector-2.0</feature>
		<feature>jdbc-4.1</feature>
    </featureManager>
	
	
    <dataSource 
	id="idpdb"
	jndiName="jdbc/idpDatasource"
	type="javax.sql.DataSource">
	  <jdbcDriver libraryRef="mssql-lib"/>
	   <connectionManager connectionTimeout="180" minPoolSize="50" maxPoolSize="200"/>
	  <properties.microsoft.sqlserver databaseName="IDPDB_UAT" serverName="10.138.102.21" portNumber="1433" user="idpap_user" password="Newuser1Newuser"/>
   </dataSource>



	<library id="mssql-lib">
		<file name="/usr/IBM/WebSphere/wlp/usr/shared/resources/mssql/sqljdbc4.jar"/>
	</library>
	
	
      <httpDispatcher enableWelcomePage="false" />


    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="10033" httpsPort="19033" accessLoggingRef="accessLogging" />

	
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
	<applicationManager updateTrigger="mbean"/>
	
    <!-- Logging -->
    <httpAccessLogging id="accessLogging" 
	    filePath="/usr/IBM/WebSphere/wlp/usr/servers/${wlp.server.name}/http_access.log" 
	    logFormat="%h %i %u %t &quot;%r&quot; %s %b" maxFileSize="10" maxFiles="10" />
	<logging maxFileSize="20" maxFiles="10" copySystemStreams="false"/>
	
	<!-- Basic Registry -->
    <basicRegistry realm="customRealm">
      <user name="wasadmin" password="{xor}KD4sPjsyNjE="/>
      <user name="sclmon" password="{xor}DT40Kis6MQwcfg4eBW0oLCc="/>
      <group name="wasadmgrp">
          <member name="wasadmin" />
      </group>
      <group name="wasmongrp">
          <member name="sclmon" />
      </group>
    </basicRegistry>

	<administrator-role>
		<user>wasadmin</user>
		<group>wasadmgrp</group>
    </administrator-role>

    <reader-role>
		 <user>sclmon</user>
		 <group>wasmongrp</group>
    </reader-role>

    <!-- <keyStore id="defaultKeyStore" password="{xor}DT40Kis6MQwMEw==" /> -->

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime --> 
    <!-- <ssl id="defaultSSLConfig" KeyStoreRef="defaultKeyStore" trustDefaultCerts="true" /> -->

</server>
